.header {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
:deep(.arco-table-cell) {
  display: block;
  width: 100%;
  text-align: center;
}
:deep(.arco-table-td-content) {
  display: block;
  width: 100%;
  text-align: center;
}
.arco-table-cell .arco-table-th-title {
  display: inline-block;
  width: 100%;
  text-align: center;
}