.container {
  //border: 1px solid red;
  width: 100%;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    line-height: 30px;
    height: 30px;
    background: 0 0;
    overflow: hidden;
    //border: 1px solid green;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: rgb(var(--primary-4));
    }
    &.selected {
      background-color: rgb(var(--primary-4));
      color: #fff;
    }
    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      //border: 1px solid yellow;
      padding: 0 20px;

      .icon {
      }

      .title {

      }
    }


    .action {
      padding: 0 6px;
    }


  }

}
