.container {
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 10px;
    padding-bottom: 0;
    border-bottom: none;
    color: #000;
    font-size: 18px;
    line-height: 28px;
    float: left;
    width: 480px;
  }

  .action {
  @apply flex flex-row w-full items-center justify-start w-full;
    background-color: #E0E9F5;
    gap: 10px;
    padding: 10px 20px;

    .actionBtn {
      font-size: 12px !important;
      height: 24px !important;
    }

    .divider {
      height: 24px; // Set the height of the vertical divider
      margin: 0 8px; // Add some margin for spacing
      border-left: 1px solid #d9d9d9;
    }
  }
}