.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 768px;
  //border: 1px solid red;
  margin: 20px 40px;
  border-radius: 6px;
  background: #fff;
}