.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 1080px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #DCE1E6;
  margin: 2px 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
  background-color: #fff;
  padding:15px 25px;

  .topBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    //border: 1px solid yellow;
    .title{
      color: #000;
      font-size: 18px;
    }
    .desc{
      padding-top: 5px;
      font-size: 14px;
      line-height: 22px;
      color: #787878;
    }
  }
  .mainBox {
    display: block;
    width: 100%;
    //padding: 0 120px 30px 120px;
    background-color: #fff;
    //border: 1px solid red;
    .filter {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: start;
      gap: 16px;
      padding: 30px 0 0 0;
      color: #787878;
      font-size: 14px;
      .btnFilter{
        text-align: left !important;
        font-size: 12px;
        color: #222;
        width: 80px;
      }
    }
    .resultBox{
      display: flex;
      flex-direction: column;
      gap: 16px;
      .navBox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 3px;
        height: 22px;
        float: left;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;
        //border:1px solid red;
        color: var(--ww_base_black);
      }
    }
  }
}