.container{
  //@apply flex flex-row justify-center items-center min-w-[768px] border border-red-500 m-20 rounded-6 bg-white gap-120;
  //border: 1px solid green;
  max-width: 320px;
  width: 100%;
  height: 100%;
}