@import './theme.less';

// 标签样式的员工条目
.tag-like-staff-item {
  margin: 6px 3px 6px 0;
  padding: 2px 8px 2px 0;
  color: @text-color-secondary;
  vertical-align: center;

  .icon {
    width: 36px !important;
    height: 36px !important;
    margin-right: 12px;
    font-size: 16px;
    border-radius: 4px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .text {
    color: @text-color-secondary;
    font-size: 14px;
    vertical-align: -1px;
  }
}

.clickable {
  cursor: pointer !important;
}

// 定义了一些常用css脚手架
.help-icon-tips {
  margin-left: 6px;
  color: @text-color-secondary;
}

.help-text-tips {
  margin-left: 6px;
  color: @text-color-secondary;
}

.sub-from-item {
  margin-top: -8px;
  color: @text-color-secondary;
}

.compact-from-item {
  margin-top: -8px;
  color: @text-color-secondary;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
}

// 自定义 modal
.dialog {
  .ant-modal-body {
    padding: 24px 40px 0;
  }

  .ant-modal-footer {
    padding: 0 40px 36px;
    border-top: none;
  }

  .ant-modal-body .dialog-title {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 22px;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
  }

  .ant-form-item-label {
    //min-width: 99px;
    text-align: right;
    @media (max-width: @screen-xs) {
      text-align: left;
    }
  }
}

// 自定义 modal
.from-item-label-100w {
  .ant-form-item-label {
    min-width: 100px;
    text-align: right;
    @media (max-width: @screen-xs) {
      text-align: left;
    }
  }
}

// 自定义ant pro table 样式
.ant-pro-table {
  .ant-table-pagination-right {
    margin-right: 20px !important;
  }

  //.ant-table-thead .ant-table-cell {
  //  padding-left: 20px !important;
  //}
}

// 自定义footer bar
.ant-pro-footer-bar {
  height: 58px;
}

.ant-pro-sider-collapsed-button {
  height: 58px !important;
  margin: 0 !important;
  line-height: 58px !important;
}

// pro table自定义
td.ant-table-cell > div.qrcodeWrapper {
  height: 52px;

  img.qrcode {
    height: 52px;
  }
}
